@charset "UTF-8";
/* Обнуление */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea, select, option {
  background: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

textarea, input {
  cursor: text;
}

input::-ms-clear {
  display: none;
}

input[type=checkbox], input[type=radio], input[type=range], button, select, option {
  cursor: pointer;
}

label {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.btn {
  display: inline-block;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html, body {
  font-size: 10px;
}

body > * {
  font-size: 1.6rem;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-blue: $color-blue;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-blue: $color-blue;
}

html,
body {
  font-size: 10px;
}

body > * {
  font-size: 1.6rem;
}

.page__wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.page__wrapper .main {
  flex: 1 1 auto;
}

.container {
  max-width: 1196px;
  padding: 0 16px;
  margin: 0 auto;
}

._fullscreen {
  height: calc(100vh - var(--header-height));
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--w-min), 1fr));
  justify-content: center;
  grid-gap: 3rem;
}
.grid > * {
  width: 100% !important;
}

body > * {
  font-size: clamp(1.4rem, 1.4rem + 0.002283105 * (100vw - 320px), 1.6rem);
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #888888;
}

header.header > *,
footer.footer > * {
  line-height: 1.3;
}

.link:hover {
  color: #0050EF;
}
.link:hover > * {
  color: #0050EF;
}

.btn-white {
  display: inline-block;
  padding: clamp(1.3rem, 1.3rem + 0.0034246575 * (100vw - 320px), 1.6rem) clamp(2.4rem, 2.4rem + 0.0136986301 * (100vw - 320px), 3.6rem);
  border-radius: 10px;
  font-size: clamp(1.4rem, 1.4rem + 0.002283105 * (100vw - 320px), 1.6rem);
  line-height: 20px;
  background: rgb(255, 255, 255);
  color: #0050EF;
  font-weight: 600;
  transition: all ease 0.3s;
}
.btn-white:hover, .btn-white:focus-visible {
  background: #0050EF;
  color: rgb(255, 255, 255);
}
.btn-blue {
  display: inline-block;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  background: rgba(0, 80, 239, 0.06);
  font-size: 1.2rem;
  line-height: 1.5;
  color: #0050EF;
  font-weight: 600;
  transition: all ease 0.3s;
}
.btn-blue:hover, .btn-blue:focus-visible {
  background: #0050EF;
  color: rgb(255, 255, 255);
}

.social-icon {
  width: 2rem;
  height: 2rem;
  fill: rgb(255, 255, 255);
}
.social-icon:hover {
  fill: #0050EF;
}

.icon-decor {
  width: 2rem;
  height: 2rem;
  fill: none;
}
.icon-decor:hover {
  fill: #0050EF;
  stroke: #0050EF;
}

.logo {
  width: 12rem;
  height: 3rem;
  cursor: pointer;
  --color-word: #000;
  --color-circles: #0050EF;
}
.logo__word {
  fill: var(--color-word);
}
.logo__circles {
  fill: var(--color-circles);
}
.logo_white {
  --color-word: rgb(255, 255, 255);
  --color-circles: rgb(255, 255, 255);
}
.logo:hover {
  --color-word: #0050EF;
  --color-circles: #0050EF;
}

.header__section {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  padding: clamp(1.6rem, 1.6rem + 0.0148401826 * (100vw - 320px), 2.9rem) 0;
  background: rgb(255, 255, 255);
}
.header__section + * {
  margin-top: var(--header-height);
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header > * + * {
  margin-left: 2rem;
}
.header__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__links > * + * {
  margin-left: clamp(1.6rem, 1.6rem + 0.0273972603 * (100vw - 320px), 4rem);
}
.header__link .icon {
  display: none;
}
@media (max-width: 500px) {
  .header__link .icon {
    display: block;
  }
  .header__link .text {
    display: none;
  }
}

.intro__section {
  position: relative;
  color: rgb(255, 255, 255);
}
.intro__section-bg {
  z-index: -1;
  background: linear-gradient(100.68deg, #5991FF 13.6%, #0050EF 94.69%);
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.intro__section-bg img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__container {
  height: 100%;
}

.intro-slider {
  z-index: 1;
  max-width: 60rem;
  height: 100%;
  padding: clamp(2rem, 2rem + 0.0913242009 * (100vw - 320px), 10rem) 0 clamp(2rem, 2rem + 0.0502283105 * (100vw - 320px), 6.4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  color: rgb(255, 255, 255);
}
.intro-slider > * + * {
  margin-top: 2rem;
}
.intro-slider__viewport {
  overflow: hidden;
  max-width: min(60rem, 100%);
}
.intro-slider__content {
  height: 100%;
  display: flex;
  transition: all ease 0.3s;
}
.intro-slider__content > * {
  flex: 0 0 100%;
}
.intro-slider__pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.intro-slider__pages > * + * {
  margin-left: 0.6rem;
}
.intro-slider__page {
  width: clamp(2rem, 2rem + 0.0114155251 * (100vw - 320px), 3rem);
  height: 3px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}
.intro-slider__page:not(._active) {
  opacity: 0.3;
}

.intro-slide {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.intro-slide > * + * {
  margin-top: clamp(1.6rem, 1.6rem + 0.0091324201 * (100vw - 320px), 2.4rem);
}
.intro-slide__title {
  font-size: clamp(2rem, 2rem + 0.0228310502 * (100vw - 320px), 4rem);
  font-weight: 600;
}
.intro-slide__btn {
  margin-top: clamp(2.4rem, 2.4rem + 0.0091324201 * (100vw - 320px), 3.2rem);
}

.articles__section {
  padding: clamp(3.2rem, 3.2rem + 0.0091324201 * (100vw - 320px), 4rem) 0 clamp(5.6rem, 5.6rem + 0.0273972603 * (100vw - 320px), 8rem);
  background: #F6F9FF;
}
.articles__cards {
  padding-top: clamp(3.2rem, 3.2rem + 0.0091324201 * (100vw - 320px), 4rem);
  grid-gap: 2rem;
  --w-min: clamp(26rem, 26rem + 0.1369863014 * (100vw - 320px), 38rem);
}

.article-card {
  padding: clamp(2rem, 2rem + 0.00456621 * (100vw - 320px), 2.4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border-radius: 20px;
  background: rgb(255, 255, 255);
}
.article-card > * + * {
  margin-top: 1.6rem;
}
.article-card__date {
  font-size: 1.2rem;
  font-weight: 600;
  color: #10B2D0;
}
.article-card__title {
  font-size: clamp(1.8rem, 1.8rem + 0.002283105 * (100vw - 320px), 2rem);
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
}
.article-card__body {
  flex: 1 1 auto;
}
.article-card__author {
  margin-top: clamp(2rem, 2rem + 0.00456621 * (100vw - 320px), 2.4rem);
}

input,
select {
  color: rgba(0, 0, 0, 0.65);
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}

.custom-input {
  position: relative;
}
.custom-input:hover .custom-input__placeholder {
  z-index: -1;
}
.custom-input__placeholder {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
}

.input-dash {
  position: absolute;
  left: -2.5rem;
  top: 15%;
}
.input-dash:before {
  content: "—";
}

.select-arrow {
  position: relative;
}
.select-arrow:before, .select-arrow:after {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 14px;
  background: #888888;
}
.select-arrow:before {
  transform: rotate(50deg);
}
.select-arrow:after {
  right: -2px;
  transform: rotate(-50deg);
}

.articles__filters-toolbar {
  background: #F6F9FF;
}
.articles__filters-toolbar_fixed {
  position: fixed;
  top: var(--header-height);
  left: 0;
  padding: 2rem 1.6rem clamp(3.2rem, 3.2rem + 0.0251141553 * (100vw - 320px), 5.4rem);
  width: 100%;
}
.articles__filters-toolbar_fixed + * {
  margin-top: var(--filter-height);
}

.articles__filters-container {
  padding: 0;
}

.articles-filters {
  max-width: 74rem;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.3;
  margin: 0 -1rem;
}
.articles-filters > * {
  margin: 0 1rem;
  flex: 1 0 26rem;
}
.articles-filters__author-filter {
  margin-bottom: 1.6rem;
}
.articles-filters__author-filter-wrapper {
  position: relative;
  padding: 1.6rem;
  background: rgb(255, 255, 255);
}
.articles-filters__author-filter-icon {
  position: absolute;
  left: 1.6rem;
  top: 1.6rem;
  pointer-events: none;
}
.articles-filters__author-filter-select {
  width: 100%;
  padding-left: 3rem;
}
.articles-filters__author-filter-arrow {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1.6rem;
  top: 2.5rem;
  pointer-events: none;
}
.articles-filters__date-filter-wrapper {
  padding: 1.6rem;
  background: rgb(255, 255, 255);
  display: flex;
}
.articles-filters__date-filter-wrapper > * {
  flex: 1 1 auto;
}
.footer__section {
  background: #011846;
  padding: clamp(2.4rem, 2.4rem + 0.0273972603 * (100vw - 320px), 4.8rem) 0;
  color: rgb(255, 255, 255);
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer > * {
  margin-top: clamp(3.2rem, 3.2rem + 0.0365296804 * (100vw - 320px), 6.4rem);
}
.footer > *:nth-child(2n-1) {
  margin-right: clamp(10rem, 10rem + 0.1141552511 * (100vw - 320px), 20rem);
}
.footer__nav {
  height: 100%;
}
.footer__links {
  --cols: 4;
  display: grid;
  grid-template-columns: repeat(var(--cols), auto);
  grid-column-gap: clamp(4rem, 4rem + 0.0091324201 * (100vw - 320px), 4.8rem);
}
.footer__links > * {
  width: 100%;
}
@media (max-width: 500px) {
  .footer__links {
    grid-row-gap: 1.6rem;
    --cols: 2;
  }
}
.footer__copy {
  opacity: 0.8;
}
.footer__socials {
  justify-content: end;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.socials > * + * {
  margin-left: 1.6rem;
}/*# sourceMappingURL=index.css.map */