:root 
  // colors
  --color-white: #fff
  --color-black: #000

  // --color-gray-light: #000
  // --color-gray: #000
  // --color-gray-dark: #000

  // --color-blue-light: #000
  // --color-blue: #000
  // --color-blue-dark: #000

  // --color-green-light: #000
  // --color-green: #000
  // --color-green-dark: #000

  // --color-yellow-light: #000
  // --color-yellow: #000
  // --color-yellow-dark: #000

  // --color-orange-light: #000
  // --color-orange: #000
  // --color-orange-dark: #000

  // --color-red-light: #000
  // --color-red: #000
  // --color-red-dark: #000


  
  // font
  --ff: Arial, "Helvetica Neue", Helvetica, sans-serif
  --fz: 1.6rem


  // decor
  --border-radius: 4px
  --box-shadow: 0 0 0 1px #000

  // media
$media-size-xs: 320px
$media-size-s: 767px
$media-size-m: 1440px

// Page-Structure
$container-side-padding: 15px
$container-width-inner: 1370px
$container-width: $container-width-inner + 2*$container-side-padding


$header-height: 0px